*,
*::before,
*::after {
  box-sizing: border-box !important;
}

@font-face {
  font-family: genkai;
  src: url("../fonts/genkai-mincho.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: linear-gradient(180deg, #46b664, #017fb1) fixed; */
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #46b664, #017fb1) center/cover no-repeat;
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: flex-end;
}

a {
  font-weight: 600;
  color: #d63072;
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
  display: inline-block;
}

a::after {
  border-bottom: solid 2px #d63072;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

a:hover::after {
  width: 100%;
}

.area {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

img.avatar {
  width: 196px;
  height: 196px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  margin: 0;
  margin-top: 0.5rem;
}

h3 {
  font-family: genkai;
  font-size: 1.2rem;
}

.shake-hover:hover {
  display: inline-block;
  animation: shake .1s infinite;
}

.gn-particles {
  text-shadow: 4px -2px 4px #46b664;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }

  25% {
    transform: translate(2px, 2px) rotateZ(1deg)
  }

  50% {
    transform: translate(0px, 2px) rotateZ(0deg)
  }

  75% {
    transform: translate(2px, 0px) rotateZ(-1deg)
  }

  100% {
    transform: translate(0px, 0px) rotateZ(0deg)
  }
}

.spacer {
  flex: 1;
}

@media (max-width: 445px){
  a {
    font-size: 0.9rem;
  }
}

a.scroll {
  padding-top: 60px;
}

a.scroll span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

a.scroll span:hover {
  opacity: 0.35;
  transition: 0.6s ease;
}

.card {
  width: 550px;
  height: auto;
  border-radius: 2ch;
  margin: 50px auto;
  margin-top: 0;
  color: black;
  background-color: hsla(0, 0%, 100%, 0.65);
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  font-family: 'Noto Sans JP', sans-serif;
}

.title {
  margin: 20px auto;
  text-align: center;
  width: 550px;
  /* border-bottom: dashed 2px; */
  font-size: 1.2rem;
  /* padding: 5px 0; */
}

.card .table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.card .table h4 {
  width: 30%;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.card .table p {
  width: 70%;
  padding: 10px;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .title {
    width: 90%;
  }
  .card {
    width: 90%;
  }
  .card .table h4,
  .card .table p {
    font-size: 12px;
  }
}

@media screen and (min-width: 761px) {
  .card .table h4,
  .card .table p {
    font-size: 15px;
  }
}